<ul>
  <li>
    <a href="{{url('admin/posts/listar')}}"><i class="icon-basket"></i><span>Posts</span></a>
  </li>
  <li>
    <a href="{{url('admin/categorias/listar')}}"><i class="icon-fire"></i><span>Categorias</span></a>
  </li>
  <li>
    <a href="#"><i class="icon-grid"></i><span>Categories</span></a>
  </li>
  <li>
    <a href="#"><i class="icon-people"></i><span>Suppliers</span></a>
  </li>
  <li class="active">
    <a href="#"><i class="icon-user"></i><span>Users</span></a>
  </li>
  <li>
    <a href="#"><i class="icon-settings"></i><span>Settings</span></a>
  </li>
</ul>
